<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Landsknecht_GreenScreen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Landsknecht_GreenScreen.My.MySettings>
            <setting name="setScanPath1" serializeAs="String">
                <value>D:\Eye-Fi</value>
            </setting>
            <setting name="setApplication1" serializeAs="String">
                <value>D:\PortableApps\Photoline\PhotoLine64.exe</value>
            </setting>
            <setting name="setApplication2" serializeAs="String">
                <value />
            </setting>
            <setting name="setApplication1Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="setApplication2Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="setApplication1Argument" serializeAs="String">
                <value />
            </setting>
            <setting name="setApplication2Argument" serializeAs="String">
                <value />
            </setting>
            <setting name="setBackgroundColorInactive" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="setBackgroundColorActive1" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="setPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setScanPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="setBackgroundColorActive2" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="setPhotolineArguments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setBackgroundImagePath" serializeAs="String">
                <value>D:\Eye-Fi\Hintergründe_GreenScreen</value>
            </setting>
            <setting name="setBackgroundImageSuffixQ" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="setBackgroundImagePrefix" serializeAs="String">
                <value>Background</value>
            </setting>
            <setting name="setBackgroundImageSuffixH" serializeAs="String">
                <value>H</value>
            </setting>
        </Landsknecht_GreenScreen.My.MySettings>
    </userSettings>
</configuration>
